<p>This component is made by me! The information below is queried from a GraphQL server that gave me exchange rates:</p>

<div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error :(
  </div>
  <div *ngIf="rates">
    <p>{{rates.id}}: {{rates.number}}</p>
  </div>
  <app-personality (notify)="onNotify($event) ng-show="!showDiv""></app-personality>
  <app-personality (notify)="onNotify($event)"></app-personality>
  <app-personality (notify)="onNotify($event)"></app-personality>
