<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <!-- I put this component here! It displays information from a GraphQL server -->
<div class="header">
  <h1>{{title}}</h1>
  <p>{{next}}</p>
</div>

<div class="row">
  <div class="column" style="background:PeachPuff;">Charmander
    <app-evolutions></app-evolutions>
  </div>
  <div class="column" style="background:MistyRose;">JigglyPuff
    <app-jig></app-jig>
  </div>
  <div class="column" style="background:LightCyan;">Oddish
    <app-odd></app-odd>
  </div>
</div>

  <!-- Footer -->
  <div class="footer">
    <p>See ya later!</p>
  </div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
