<div class="general">
    <div class="game-categories">
        <button class="button">Type</button>
        <button class="button chosen-button">Name</button>
        <button class="button">Evolution</button>
    </div>
    
    <p class="game-title">WHO'S THAT POKEMON?</p>

    <div *ngIf="pokemon" class="main">
        <img src={{pokemon.image}} alt="pokemon image" height=250px />
        <p>No. {{pokemon.number}}</p>
        <p class="types-format">Type(s): {{types[0]}}</p>
        <p *ngIf="types[1]" class="types-format">, {{types[1]}}</p>
        <p *ngIf="hasEvolution">Evolution: {{this.pokemon.evolutions[0].name}}</p>
        <p *ngIf="!hasEvolution">Evolution: None</p>

        <form (ngSubmit)="onSubmit()" #pokeForm="ngForm">
            <input type="text" [(ngModel)]="pokeNameAttempt" class="input" name="name"/>
            <button type="submit" class="button">Submit</button>
        </form>
        
        <div [hidden]="!submitted"> 
            <p *ngIf="pokeName == pokeNameAttempt">CORRECT!</p>
            <p *ngIf="pokeName != pokeNameAttempt">INCORRECT</p>
            {{makingChanges()}}
        </div>

        <button class="button" onClick="window.location.reload();">Next Pokemon</button>
    </div>
</div>
