<div class="general">
    <p class="game-title">NAME THAT EVOLUTION!</p>

    <div *ngIf="pokemon" class="main">
        <img src={{pokemon.image}} alt="pokemon image" height=250px />
        <p>{{pokemon.name}}</p>
        <p>No. {{pokemon.number}}</p>
        <p class="types-format">Type(s): {{types[0]}}</p>
        <p *ngIf="types[1]" class="types-format">, {{types[1]}}</p>

        <form class="forms" (ngSubmit)="onSubmit()">
            <button type="submit" class="button">No Evolution</button>
            or&nbsp;&nbsp;
            <input type="text" [(ngModel)]="evoNameAttempt" class="input" name="name"/>
            <button type="submit" class="button">Submit</button>
        </form>
        
        <div [hidden]="!submitted"> 
            <p *ngIf="hasEvolution == evoNameAttempt">CORRECT!</p>
            <p *ngIf="hasEvolution != evoNameAttempt">INCORRECT</p>
            <button class="button next-button" onClick="window.location.reload();">Next Pokemon</button>
            {{makingChanges()}}
        </div>
    </div>
</div>